/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

/* Configuraciones Globales */
:root {
  --fondo: #F8EDE3;
  --fondo-secu: #FFFFFF57;
  --blanco: #f1f1f1;
  --oscuro: #000606;
  --gris: #797979;
  --text: #060606;
  --text-secu: #06060666;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0rem;
  padding: 0rem;
}

body {
  background-color: var(--fondo);
  font-size: 1.6rem;
  line-height: 1.8;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* Menu Lateral */
aside {
  background-color: var(--oscuro);
  top: 0;
  left: 0;
  height: 100vh;
  width: 18%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

}

.menu-header{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-container {
  color: var(--blanco);
  list-style: none;
  font-weight: 500;
  font-size: 3rem;
}

.logo {
  background-color: var(--blanco);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
}

.logo > p {
  color: #00417B;
  font-weight: 500;
  font-size: 15px;
}

.grupo {
  background-color: var(--blanco);
  color: #E65F2B;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.integrantes {
  color: var(--blanco);
  list-style: none;
  padding-left: 15px;
}

/* Contenedor Principal */
.content {
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 100vh;
  padding: 2rem 5rem;
}

.ingreso-datos {
  padding-top: 20px;
}

.input-frame {
  border-radius: 55px;
  padding: 13px 10px 13px 13px;
  width: 465px;
  height: 79px;
  background: #FFF;
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.input-frame > span {
  height: 22px;
  width: 22px;
}

#input {
border: none;
display: flex;
font-family: "Inter", sans-serif;
font-size: 20px;
color: #060606;
}

#input:focus-visible {
outline: none;
}
main > h1 {
  font-size: 64px
}

.ingreso-datos > h2, .resultados-container > h2 {
  font-size: 32px;
}

.ingreso-datos > p {
  color: var(--griss);
  font-size: 24px;
}

/* Resultados */

.resultados-container {
  padding-top: 50px;
}

.resultados-cards {
  display: flex;
  gap: 20px;
  padding-top: 8px;
}

.resultado {
  width: 268px;
  height: 196px;
  border-radius: 14px;
  padding: 18px 43px 24px 18px;
  background: var(--fondo-secu);
}

.resultado > p {
  color: #797979;
}

.resultado > span {
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

.resultado > img {
  width: 48px;
  height: 48px
}
.unit {
  font-size: 18px !important;
  margin-bottom: 6px;
}

.resultados-huellas {
  display: flex;
  gap: 45px;
  padding-top: 30px;
  justify-content: center;
}

.huella-card {
  width: 390px;
  height: 280px;
  border-radius: 14px;
  padding: 18px 43px 24px 18px;
  background: var(--fondo-secu);
}

.huella-card > p {
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
}

.huella-card > img {
  position: absolute;
}

.huella-card > span {
  font-size: 28px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 120px 0px 0px 30px;
}

canvas {
  height: 275px !important;
}
